* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

header, nav, main, section, article, aside, hgroup, figure, figcaption, footer {
	display: block;
}

body{
	background-color: #d8c6b2;
}

img {
	max-width: 100%;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 23px 0 40px 0;
	border: 1px solid black;
}

header {
	font-family: 'Raleway', sans-serif;	
	color: #2f1b09;

}

header .container {
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;	
	height: 160px;
	border: 1px solid #6e6065;
}

.header-title{
	line-height: 40px;
	position: relative;
	top: 50px;
	left: 65px;
}

.header-title h1 {
	font-size: 2.5rem;
}

/*Navegacion*/
nav .container{
	text-align: center;
	margin-top: 10px;
	background-color: #ecf0ec;
	padding: 10px 0;
	border: 1px solid #bbbfb4;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 1.06rem;
	width: 24%;
}

nav a {
	color: #03314b;
	text-decoration: none;
}


/*Contenido principal*/
main .container {
	background-color: #fff;
	margin-top: 10px;
	border: 1px solid #b1b1b1;	
	font-family: Arial, sans-serif;
	color: #2a2b27;
	font-size: .9rem;
}

main .container section{
	margin-top: 20px;
}

main .container h2, main .container p {
	margin-bottom: 15px;
	padding: 0 15px;
}

main .container a {
	margin-left: 15px;
}


.main-col{
	width: 100%;
	border-bottom: .3px solid #bdbdc5;
}

.col{
	width: 49%;
	float: left;
	margin-top: 30px;
}

.border {
	border-left: 1px dotted #cacfbb;
}

.col p {
	margin-bottom: 25px;
}
.clearfix {
	clear: both;
}

.btn{
	color: #454546;
    background: #FAEFE3;
    font-size: 12px;
    text-decoration: none;
    padding: 7px 15px 7px 15px;
    font-weight: bold;
    display: inline-block;
    border: #A4AD8D solid 1px;
}

/*Footer*/
footer .container{
	background-color: #e4e1df;
	margin-top: 18px;
    padding: 15px 0 12px 0;
    height: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;    
    border: #7171AE dotted 1px;
}
@media(max-width: 750px) {	
	header .container {
		height: 86px;
		background-size: contain;
		padding: 23px 0 0 0;
		border: none;
	}
	.header-title{
		top: 35px;
	}
	.header-title h1 {
		font-size: 2rem;		
	}
	nav .container{
		margin-top: 0;
	}

	.col {
		width: 100%;
	}
	.col p {
	margin-bottom: 30px;
	}
	main .container p{
		font-size: 1rem;
	}
}

@media(max-width: 500px) {
	.header-title h1 {
		font-size: 1.6rem;		
	}
	.header-title{
		top: 10px;
	}
}